body{
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: auto;
    height: auto;
} 

.card{
    
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 650px;
    height: 400px;
    margin: auto auto;
    background-color: #ddebfb;
    border-bottom: 6px solid #d8cefe ;
    color: #2b2839;
}

.border-blue{

    border: 1px dotted blue;
    justify-content: center;
    
}

.content{
    font-size: x-large;
    padding: 10px;
    margin-top: 45px;
}